<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranscriberApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="TranscriberApp.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TranscriberApp.Properties.Settings>
            <setting name="ModelPath" serializeAs="String">
                <value>F:\DESARROLLO\TranscriberApp\Models\ggml-small.bin</value>
            </setting>
        </TranscriberApp.Properties.Settings>
        <TranscriberApp.Settings>
            <setting name="modelPath" serializeAs="String">
                <value>F:\DESARROLLO\TRANSCRIBER_APP\ggml-small.bin</value>
            </setting>
        </TranscriberApp.Settings>
    </userSettings>
</configuration>